.prose table {
  border-collapse: collapse;
  width: 100%;
}
.prose table, 
.prose th, 
.prose td {
  border: 1px solid #ddd;
  padding: 8px;
}

.prose th {
  background-color: #f5f5f5;
  font-weight: bold;
}